@import '../../../styles/variables';

.app-title {
  font-family: $skygraze;
}

.title {
  font-family: $teko;
}

.link {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}