@import '../../../styles/variables';

.pomo-nav {
  display: flex;
  flex-direction: nowrap row;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

    &>* {
      width: 30px;
      height: 30px;
    }

    h3 {
      font-weight: 100;
      letter-spacing: 1px;
      margin-bottom: -.5rem;
    }

  }

}