@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $teko;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .app {
    position: inherit;
    height: 100vh;
    width: 100wv;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $background-color;

    .hidden {
      visibility: hidden;
    }

    .visible {
      visibility: show;
    }

    .animate__animated {
      color: white;
      font-family: $skygraze;
      font-size: 4rem;
      margin-top: -60%;
    }
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 120ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }


  @media screen and (max-width: 1200px) {
    .recharts-cartesian-axis-ticks {
      font-size: 12px;
    }

  }

  @media screen and (max-width: 620px) {
    .recharts-cartesian-axis-ticks {
      font-size: 10.5px;
    }
  }
}