@import '../../../styles/variables';

.app-header-dark,
.app-header-light {
  max-width: 1200px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 1vmin);
  height: 5rem;
  padding: 0 2rem;

  &>* {
    cursor: pointer;
  }

  .application-logo {
    margin-left: -2rem;
  }

  .app-title {
    font-family: $skygraze;
  }

  .menu-button {
    width: 100px;
  }
}

.app-header-light {
  color: $text-color-dark;
}

.app-header-dark {
  color: $text-color-light;
}