@import '../../../styles/variables';

.app-header-dark,
.app-header-light {
  max-width: 1200px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  height: 5rem;

  &>* {
    cursor: pointer;
  }

  .application-logo {}

}

.app-header-light {
  color: $text-color-dark;
}

.app-header-dark {
  color: $text-color-light;
}