@import '../../../styles/variables';

.menu {
  // padding: 0 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  width: 150px;
  max-width: 150px;
  max-height: 60px;
  position: relative;

  &>* {
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
  }

  .login-menu {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    gap: .3rem;
  }

  .logout-button {
    position: absolute;
    right: 50%;
    top: 2rem;
    transform: translate(50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    span {
      cursor: pointer;
    }
  }
}