@import '../../../styles/variables';

.button-dark,
.button-light {
  background-color: #282c34;
  border-radius: .4rem;
  border: 2px solid #b3b3b4;
  display: inline-block;
  cursor: pointer;
  font-family: $skygraze;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .5rem;
  padding: .35rem 1.5rem;
  text-decoration: none;
  margin-top: 1rem;

  &:active {
    position: relative;
    top: 1px;
  }

  &:focus {
    outline: none;
  }

}

.button-dark {
  background: linear-gradient(to bottom, #282c34 5%, #282c34d7 100%);
  color: $text-color-light;
  box-shadow: inset 0 1px 0 0 $background-color-dark;
  text-shadow: 0 .1rem 0 $background-color-dark;

  &:hover {
    background: linear-gradient(to bottom, #3c424e 5%, #282c34d7 100%);
    background-color: #687286;
  }
}

.button-light {
  background: linear-gradient(to bottom, #dfdfdf 5%, $background-color-light 100%);
  color: $text-color-dark;
  box-shadow: inset 0 1px 0 0 $background-color-light;
  text-shadow: 0 0.1rem 0 $background-color-light;

  &:hover {
    background: linear-gradient(to bottom, #282c3434 5%, $background-color-light 100%);
  }
}