@import '../../../styles/variables';

.timer-group {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .button-group {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .line-dark,
  .line-light {
    width: 80%;
  }

  .line-light {
    border: 1px solid $text-color-dark;
  }

  .line-light {
    border: 1px solid $text-color-light;
  }
}